//colors

//fonts

$font8: "8px";
$font9: "9px";
$font10: "10px";
$font11: "11px";
$font12: "12px";
$font13: "13px";

$radius5: "5px";
$radius6: "6px";
$radius7: "7px";
$radius8: "8px";
$radius9: "9px";

//colors

$white: #fff;
